/** Very top navbar */

.navbar.bg-light {
    padding: 0.25em;
    font-size: small;
    background: #F7F7F7;
}

.navbar.bg-light a {
    padding: 0.25rem;
    color: #6C757D;
}

/** Main navbar (logo + menu) */

nav.customer {
    padding: 0;
    background-color: #242D3D;
    min-height: 86px;
}

nav.customer .container,
nav.customer .container #main-nav {
    align-items: stretch;
}


@media (max-width: 768px) {
    nav.customer .container {
        align-items: baseline;
    }
}

@media (max-width: 576px) {
    nav.customer .container {
        padding: 0 0.75rem;
    }
}

nav.customer a.navbar-brand {
    padding: 15px 0 0 0;
    height: 87px;
}

nav.customer a.navbar-brand img {
    width: 10rem;
}

nav.customer .navbar-nav .nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 768px) {
    nav.customer .navbar-nav .nav-item {
        text-align: end;
        border: 0px !important;
        padding-right: 0px;
    }

    nav.customer #main-nav {
        margin-bottom: 1rem;
        margin-top: -1rem;
    }
}

nav.customer .nav-item {
    text-align: center;
    text-transform: uppercase;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 300;
    border-left: solid 1px #666C77;
}

nav.customer .navbar-nav .nav-link {
    color: #fff;
}

nav.customer .nav-item:last-child {
    border-right: solid 1px #666C77;
}

nav.customer .customer-study {
    border-bottom: solid 4px #f5990c;
}

nav.customer .customer-research {
    border-bottom: solid 4px #eb1f00;
}

nav.customer .customer-community {
    border-bottom: solid 4px #a0a0a0;
}

/** Jumbotron **/

@media (max-width: 768px) {
    .jumbotron {
        background: #fff url(../img/jumbotron-bg.jpg) 0% 0%;
    }
}

/** Footer **/

footer.customer {
    font-size: small;
    color: #fff;
    padding: 1rem;
}

footer.customer a {
    color: #fff;
}

footer.customer h1 {
    font-size: medium;
}

footer.customer ul,
footer.customer p {
    margin-left: 1rem;
}

footer.customer ul.social li {
    margin-left: 1rem;
    margin-right: 1rem;
}

/** Open Day Exhibit */

.search-exhibit.open-day {
    background-color: #fff;
}

.search-exhibit.open-day.card {
    border: none;
}

.search-exhibit.open-day .card-header {
    background-color: #242D3D;
    padding: .75rem 1.25rem .25rem 1.25rem;
}

.search-exhibit.open-day .card-header a {
    font-size: x-large;
    font-weight: 600;
    color: white;
}

.search-exhibit.open-day .btn-primary {
    background-color: #242D3D;
    border: none;
    margin-top: 1rem;
}

.search-exhibit.open-day .card-body {
    padding-top: 0;
    font-size: x-large;
    font-weight: 600;
}

.search-exhibit.open-day .card-body div {
    padding-top: .5rem;
    padding-bottom: 1rem;
}

.search-exhibit.open-day small {
    color: #333;
    font-size: medium;
    display: block;
}

/** Campus Life Exhibit */

.search-exhibit.campus-life .card-header {
    display: none;
}

.search-exhibit.campus-life .card-body {
    padding: 0;
}

.search-exhibit.campus-life .card-body a {
    color: white;
    text-shadow: 2px 2px #333;
    font-size: x-large;
    font-weight: 600;
}