* a,
.btn-link {
    color: black;
}

* a:hover,
* a:active,
* a:focus,
* .btn-link:hover,
* .btn-link:active,
* .btn-link:focus {
    color: #9a1904;
}

/** Very top navbar */

.navbar.bg-light {
    padding: 0.25em;
    font-size: small;
    background: #F7F7F7;
}

.navbar.bg-light a {
    padding: 0.25rem;
    color: #6C757D;
}

/** Main navbar (logo + menu) */

nav.customer {
    padding: 0;
    background-color: #242D3D;
    min-height: 86px;
}

nav.customer a.navbar-brand {
    padding: 0;
}

nav.customer .navbar-nav
{
    display: flex;
    align-items:stretch;
}

nav.customer .navbar-nav .nav-item
{
    align-self: auto;
}

nav.customer .nav-item {
    text-align: center;
    text-transform: uppercase;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: bold;
    border-left: solid 1px #cfcfca;
}

nav.customer .navbar-nav .nav-link {
    color:#fff;
}

nav.customer .nav-item:last-child {
    border-right: solid 1px #cfcfca;
}

nav.customer .customer-study {
    border-bottom: solid 4px #f5990c;
}
nav.customer .customer-research {
    border-bottom: solid 4px #eb1f00;
}
nav.customer .customer-community {
    border-bottom: solid 4px #a0a0a0;
}

/** Footer **/

footer.customer {
    font-size: small;
    color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
}

footer.customer a {
    color: rgba(255, 255, 255, 0.5);
}

footer.customer h1 {
    font-size: medium;
}

footer.customer ul,
footer.customer p {
    margin-left: 1rem;
}

footer.customer ul.social li {
    margin-left: 1rem;
    margin-right: 1rem;
}

/** Search form */

.jumbotron {
    background-color: #9a1904;
    color: white;
}

@media (max-width: 768px) {
    .jumbotron {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}

.jumbotron .input-group {
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.jumbotron input,
.jumbotron input:focus,
.jumbotron .input-group-text {
    box-shadow: none;
    border: none;
    background-color: transparent;
    color: white;
    font-size: xx-large;
}

.jumbotron button {
    background-color: #1e1e1e;
    border: none;
}

.jumbotron .list-inline-item a {
    color: #d7d8d2;
}

.jumbotron small.float-left {
    color: rgba(255, 255, 255, .5);
    font-style: italic;
    font-size: x-small;
}

.jumbotron a.disabled {
    text-decoration: none;
    cursor: default;
    color: #999;
}

.jumbotron a.disabled,
.jumbotron a.disabled:hover,
.jumbotron a.disabled:active,
.jumbotron a.disabled:focus {
    text-decoration: none;
}

/** Tabs */

nav.tabs {
    background-color: #9a1904;
}

nav.tabs .row {
    margin: auto;
}

ul.nav-tabs {
    width: 100%;
    border-bottom: solid 1px rgba(0, 0, 0, .125);
}

ul.nav-tabs li.nav-item {
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
}

ul.nav-tabs li.nav-item a {
    color: white;
    font-weight: bold;
    border: solid 1px rgba(0, 0, 0, .125);
    border-bottom: none;
}

ul.nav-tabs li.nav-item .search-facet-count {
    font-weight: initial;
}

ul.nav-tabs li.nav-item a:hover,
ul.nav-tabs li.nav-item a:active,
ul.nav-tabs li.nav-item a:focus {
    border-color: rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, .1);
    border-radius: 0;
}

ul.nav-tabs li.nav-item a.active {
    border-color: rgba(0, 0, 0, .125);
    background-color: #d7d8d2;
}

ul.nav-tabs li.nav-item a.disabled {
    color: #999;
}

@media (max-width: 992px) {
    /* Stack the tabs on small screens */
    ul.nav-tabs,
    li.nav-item {
        display: block;
        width: 100%;
    }

    ul.nav-tabs {
        margin-bottom: 1rem;
    }
}

/** Search results */

section.search-results,
section.search-history,
section.search-cart {
    background-color: #d7d8d2;
}

@media (max-width: 768px) {
    /* Hide sort / limit controls on small screens */
    .search-results .dropdown {
        display: none;
    }
}

/** Facets */

.search-facets .card.search-refine {
    border-bottom: none;
}
.search-facets h3 {
    font-size: initial;
}

.search-results .search-facet h4 {
    color: #9a1904;
    font-size: medium;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: dotted 1px #eeefea;
}

.search-facets .search-facet li {
    clear: right;
}

.search-facets .badge-default {
    color: #636c72; /* == text-muted */
    background-color: #eeefea;
}

/** Results */

.search-results .search-tier h3 {
    font-size: x-large;
}

.search-results .card-header,
.search-results .card-footer {
    background-color: #eeefea;
}

.search-results .card-text img {
    max-height: 100px;
    max-width: 200px;
}

.search-results .card-footer strong:not(:first-child) {
    margin-left: 1rem;
}

.search-results .search-spelling {
    font-size: x-large;
}

/** Results - Courses */

.search-result-course .row h5 {
    color: #9a1904;
}

.search-result-course a.border-secondary {
    border-color: #ccc !important;
}

/** Results - People */

.search-result-people h4 a {
    color: #9a1904;
}

@media (max-width: 768px) {
    .search-result-people img {
        margin-top: 1rem;
        width: 25%;
    }
}

.search-result-people .fa-user {
    font-size: 600%;
    color: #d7d8d2;
}

/** Results - Video */

.search-result-video h4 a {
    color: #9a1904;
}

.search-result-video .col-md-3 a {
    position: relative;
    display: block;
}

.search-result-video .card-img-overlay .badge {
    position: absolute;
    right: .5rem;
    bottom: .5rem;
}

.search-result-video .card-img-overlay .fa-play-circle-o {
    top: 30%;
    left: 38%;
    position: absolute;
    color: rgba(255, 255, 255, .75);
}

.search-result-video a:hover .card-img-overlay .fa-play-circle-o {
    color: white;
}

/** Results - Events */

.search-result-event .search-event-date {
    width: 100%;
    border: solid 2px #9a1904;
    max-width: 5rem;
}

.search-result-event .search-event-date-month {
    background-color: #9a1904;
    color: white;
    font-size: x-large;
    font-weight: bold;
}

.search-result-event .search-event-date-day {
    font-size: xx-large;
    font-weight: bold;
    height: 4rem;
}

/** Results - Twitter Cards */

.search-result-twitter-tweet {
    min-height: 4.5rem;
    max-height: 4.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

/** Contextual Navigation */

.search-contextual-navigation h3 {
    color: #9a1904;
}

/** Curator */

blockquote.search-exhibit {
    border-left: solid .25rem #eeefea;
}

/** Open Day Exhibit */

.search-exhibit.open-day {
    background-color: #292b2c;
    color: white;
}

.search-exhibit.open-day.card {
    border: none;
}

.search-exhibit.open-day .card-header {
    background-color: #292b2c;
}

.search-exhibit.open-day .card-header a {
    font-size: x-large;
    font-weight: bold;
    color: white;
    border-bottom: solid 4px #9a1904;;
}

.search-exhibit.open-day .btn-primary {
    background-color: #9a1904;
    border: none;
    margin-top: 1rem;
}

.search-exhibit.open-day .card-body {
    padding-top: 0;
    font-size: x-large;
    font-weight: bold;
}

.search-exhibit.open-day .card-body div {
    padding-top: .5rem;
    padding-bottom: 1rem;
}

.search-exhibit.open-day small {
    color: #d7d8d2;
    font-size: medium;
    display: block;
}

/** Campus Life Exhibit */

.search-exhibit.campus-life .card-header {
    display: none;
}

.search-exhibit.campus-life .card-body {
    padding: 0;
}

.search-exhibit.campus-life .card-body a {
    color: white;
    text-shadow: 2px 2px #333;
    font-size: x-large;
    font-weight: bold;
}

/** Paging */

a.page-link,
a.page-link:hover,
a.page-link:active,
a.page-link:focus {
    color: #9a1904;
}

li.page-item.active a.page-link {
    background-color: #9a1904;
    border: solid 1px #9a1904;
}

.pagination-lg .page-item:last-child .page-link,
.pagination-lg .page-item:first-child .page-link {
    white-space: nowrap;
}

@media (max-width: 768px) {
    .pagination-lg .page-link {
        padding: .5rem .75rem;
        font-size: 1.25rem;
    }
}
