:root {
    --red: #da1007;
}

/* Design overrides specific to the implementation of stencils - Avoid changing these if possible */

/* Add some space between the icon and text for tabs */
.stencils .tab__button .fas {
    margin-right: 0.25rem;
}

/* ******************************** */
/* Move this into the Design System */
/* ******************************** */

.stencils__main .funnelback-search {
    max-width: 100rem;
}

/* Sessions controls */
.stencils .result-sessions__controls {
    background-color: rgba(255,255,255,0.6);
    padding: 1rem;
    border-radius: 1em;
    align-self: flex-end;
    margin-top: 1rem;
    color: black;    
}

.fb-container .result-sessions__controls a, 
.fb-container .result-sessions__controls button {
    margin: 0.5rem;
    color: black;
    cursor: pointer;
    text-decoration: underline;
    background: none;
    border: none;
}
