:root {
    --red: #da1007;
}

/* Design overrides specific to the implementation of stencils - Avoid changing these if possible */

/* Add some space between the icon and text for tabs */
.stencils .tab__button .fas {
    margin-right: 0.25rem;
}

/* ******************************** */
/* Move this into the Design System */
/* ******************************** */

.stencils__main .funnelback-search {
    max-width: 100rem;
}

.stencils .listing--card {
    display: flex;
    flex-wrap: wrap;
}

.stencils .listing--card .listing-item {
    flex-direction: column;
    max-width: 100%;
    
}

@media (min-width: 576px) {
    .stencils .listing--card .listing-item {
        max-width: calc(50% - 1.00625rem);
        margin-right: 1.00625rem;
    }
}

@media (min-width: 768px) {
    .stencils .listing--card .listing-item {
        flex: 0 0 calc(33.333% - 1.00625rem);
        max-width: calc(33.333% - 1.00625rem);
        width: calc(33.333% - 1.00625rem);
    }

    .stencils .listing--card .listing-item__title {
        font-size: 1.25rem;
        line-height: 1.35rem;
    }
}

.stencils .listing--card .listing-item__footer {
    flex-direction: column;
}

@media (min-width: 992px) {
    .listing-item__footer-block {
        margin-bottom: 0.625rem;
    }
}


.stencils .listing--card .listing-item__image-wrapper{
    width: 100%;
    height: 16.25rem;
}


.stencils .listing-item__time {
    margin-right: 0.25rem;
}

.stencils .listing-item__subtitle .fab,
.stencils .listing-item__subtitle .far,
.stencils .listing-item__subtitle .far {
    margin: 0 0.25rem;
    color: #da1007; /* Replace with primary colour variable */
}

/* Make the images fill the LHS side of each document type */
.stencils .listing-item__image-wrapper {
    height: auto;
    max-height: 16.25rem;
    width: auto;
    overflow: hidden;
}

@media (min-width: 992px) {
    .stencils .listing-item__image-wrapper {
        height: auto;
        max-height: none;
        width: 16.25rem;
    }
}

.stencils .listing-item__image {
    object-fit: cover;
    max-width: none;
}

/* Add a padding the to icon in the footer */
.stencils .listing-item__footer-block .far,
.stencils .listing-item__footer-block .fas,
.stencils .listing-item__footer-block .fab{
    margin-right: 0.25rem;
    color: #da1007; /* Replace with primary colour variable */
}

/* Ensure that collapse items do not take up vertical space */
.stencils .facet-group__list-item--hidden {
    position: absolute;
}

.stencils .custom-form.search-tools {
    padding: 0  0.25rem;
}

@media (min-width: 992px) {
    .stencils .custom-form.search-tools {
        padding: 0;
    }
}

/* Add a transition to tabs so that it is not so abrupt. */
.stencils .tabs .tab__button {
    transition: color,background-color 0.3s ease-in-out;
}

/* Ensure there is enoughs pacing between curator rules on the side and facets */

/* Sessions controls */
.stencils .result-sessions__controls {
    background-color: rgba(255,255,255,0.6);
    padding: 1rem;
    border-radius: 1em;
    align-self: flex-end;
    margin-top: 1rem;
    color: black;    
}

.fb-container .result-sessions__controls a, 
.fb-container .result-sessions__controls button {
    margin: 0.5rem;
    color: black;
    cursor: pointer;
    text-decoration: underline;
    background: none;
    border: none;
}

/* 
    Ensure that there is enough space below the spelling suggestions
    so that it does not touch other components. 
*/
.stencils .search-spelling-suggestions {
    margin-bottom: 1.25rem;
}

/* 
    Style disabled buttons so that they are less prominent and 
    ensure the overflow tabs are legiable.
*/
.stencils .tab__button--disabled {
    color: #8f8d8d;
    pointer-events: none;
}

.stencils .tab-list-nav__overflow-menu .tab__button {
    color: #fff;
}

.tabs .tab-list-nav__overflow-menu .tab__button:hover,
.tabs .tab-list-nav__overflow-menu .tab__button:focus-within {
    background: #da1007;
    cursor: pointer;
    text-decoration: none;
}
