:root {
    --red: #da1007;
}

/* Design overrides specific to the implementation of stencils - Avoid changing these if possible */

/* Add some space between the icon and text for tabs */
.stencils .tab__button .fas {
    margin-right: 0.25rem;
}

/* ******************************** */
/* Move this into the Design System */
/* ******************************** */

.stencils .listing-item__time {
    margin-right: 0.25rem;
}

.stencils .listing-item__subtitle .fab,
.stencils .listing-item__subtitle .far,
.stencils .listing-item__subtitle .far {
    margin: 0 0.25rem;
    color: #da1007; /* Replace with primary colour variable */
}

/* Make the images fill the LHS side of each document type */
.stencils .listing-item__image-wrapper {
    height: auto;
    max-height: 16.25rem;
    width: auto;
    overflow: hidden;
}

@media (min-width: 992px) {
    .stencils .listing-item__image-wrapper {
        height: auto;
        max-height: none;
        width: 16.25rem;
    }
}

.stencils .listing-item__image {
    object-fit: cover;
    max-width: none;
}

/* Add a padding the to icon in the footer */
.stencils .listing-item__footer-block .far,
.stencils .listing-item__footer-block .fas,
.stencils .listing-item__footer-block .fab{
    margin-right: 0.25rem;
    color: #da1007; /* Replace with primary colour variable */
}

/* Ensure that collapse items do not take up vertical space */

.stencils .facet-group__list-item--hidden {
    position: absolute;
}

.stencils .custom-form.search-tools {
    padding: 0  0.25rem;
}

@media (min-width: 992px) {
    .stencils .custom-form.search-tools {
        padding: 0;
    }
}

/* Add a transition to tabs so that it is not so abrupt. */
.stencils .tabs .tab__button {
    transition: color,background-color 0.3s ease-in-out;
}

/* Ensure there is enoughs pacing between curator rules on the side and facets */

/* Sessions controls */
.stencils .result-sessions__controls {
    background-color: rgba(255,255,255,0.6);
    padding: 1rem;
    border-radius: 1em;
    align-self: flex-end;
    margin-top: 1rem;
    color: black;    
}

.fb-container .result-sessions__controls a, 
.fb-container .result-sessions__controls button {
    margin: 0.5rem;
    color: black;
    cursor: pointer;
    text-decoration: underline;
    background: none;
    border: none;
}

